:root {
    --bg: #fdf8ec;
    --blue: #0f3484;
}

.prof{
    background: var(--bg);
    min-height: 100vh;
    min-width: 100vw;
    color: var(--blue);
}

/*NavBar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../assets/border.png") repeat-x bottom;
  background-size: 100vw 5rem;
  padding: 1.5rem 2rem;
}

.logo {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--blue);
}

.prof-container{
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 24px;
    padding: 10px 0px 20px 90px;
}

.prof-title{
    color: var(--blue);
    font-size: 4rem;
    line-height: 1.3;
    margin-top: 20px;
}

.prof-actions{
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: -40px;
}

.prof-link{
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.0px;
    text-decoration: none;
    color: #e36a00;
}

.prof-link:hover{
    text-decoration: underline;
}

.prof-stats{
    display: flex;
    align-items: stretch;
    gap: 100px;
    margin-top: 40px;
    padding: 12px 0 4px;
}

.stats{
    position: relative;
    padding-right: 28px;
}

.stat-value{
    color: var(--blue);
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    text-align: center;
}

.stat-label{
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0.8px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.stat-divider{
    width: 2px;
    background: rgb(84, 84, 84);
    margin: 0 8px;
    opacity: 50%;
}