:root {
  --bg: #fdf8ec;
  --blue: #0f3484;
}

.su3 {
  background-color: var(--bg);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../assets/border.png") repeat-x bottom;
  background-size: 100vw 5rem;
  padding: 1.5rem 2rem;
}
.navbar a:hover {
  text-decoration: underline;
}
.logo {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--blue);
}

/*Hero*/
.signup-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.signup-box3 {
  max-width: 400px;
  max-height: 480px;
  width: 100%;
  border: 5px solid var(--blue);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.signup-header3 h2 {
  color: var(--blue);
  font-size: 32px;
  margin: 0;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.step3 {
  color: var(--blue);
  font-size: 24px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.signup-form3 {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}

/* Name row for first and last name */
.name-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  max-height: 95px;
  margin-bottom: 18px;
  margin-top: -60px;
}

.name-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name-field label {
  color: var(--blue);
  font-size: 16px;
  margin-bottom: 8px;
}

.name-field input {
  padding: 12px;
  border: 4px solid var(--blue);
  border-radius: 5px;
  font-size: 16px;
  width: 10rem;
  background-color: transparent;
  color: var(--blue);
}

.name-field input:focus {
  outline: none;
  border: 4px solid var(--blue);
  box-shadow: 0 0 5px rgba(15, 52, 132, 0.3);
}

/* Regular input styles */
.signup-form3 label {
  color: var(--blue);
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 15px;
}

.signup-form3 input[type="password"] {
  padding: 12px;
  border: 4px solid var(--blue);
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: var(--blue);
  margin-bottom: 15px;
}

.signup-form3 input:focus {
  outline: none;
  border: 4px solid var(--blue);
  box-shadow: 0 0 5px rgba(15, 52, 132, 0.3);
}

/* Signup button */
.signup-btn {
  background: none;
  border: none;
  color: var(--blue);
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 25px;
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.signup-btn:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}